+++
title = "Sciveyor"
+++

{{< blocks/cover title="Sciveyor Documentation Portal" image_anchor="top" height="full" color="primary" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "manual/_index.md" >}}">
		Read the User Manual <i class="fas fa-book ml-2"></i>
	</a>
  <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "docs/_index.md" >}}">
    Read the Developer Docs <i class="fas fa-wrench ml-2"></i>
  </a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://www.sciveyor.com">
		Go to Sciveyor <i class="fas fa-globe ml-2 "></i>
	</a>
	<p class="lead mt-5"></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

This site collects all of the documentation available for the Sciveyor project.
This includes user-facing documentation, such as our [user
manual](manual/_index.md), as well as developer documentation, such as our [API
reference](docs/API/_index.md).

If you're interested either in using Sciveyor for one of your own projects, or
in extending Sciveyor to work in new and exciting ways, you're in the right
place.

{{% /blocks/lead %}}

{{< blocks/section color="light" >}}
{{% blocks/feature icon="fa-lightbulb" title="New name and architecture!" %}}

The new release of Sciveyor will be available Very Soon, with a redesigned
open architecture enabling contributors to much more easily develop analysis
tools (in any programming language!).

This is also the first release featuring our new name and new branding.

{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-code" title="Contributions welcome!" url="https://codeberg.org/sciveyor/sciveyor" %}}

Sciveyor's development, including issue tracking and future project planning,
are hosted on the fantastic non-profit, Open Source code hosting website
[Coddeberg!](https://codeberg.org/sciveyor/sciveyor) New users are always
welcome!

{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/pencelab" %}}

Follow the Pence Lab on Twitter for information about new Sciveyor releases and
other publications from our research group.

{{% /blocks/feature %}}

{{< /blocks/section >}}
