$primary: #ec5b2c;
$secondary: #989898;
$success: #7c9645;
$info: #2d3a3b;
$warning: #f9860d;
$danger: #f44336;

$dark: $info;

// Hack here to override some Swagger UI styles that are broken at the moment
.td-content .swagger-ui pre {
  background-color: inherit;
}
